* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #f5f7fb;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {
    background: #0b3c5d;
    color: #fff;
    padding: 18px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 18px;
    font-size: 14px;
}

.hero {
    background:url('https://plus.unsplash.com/premium_photo-1681487769650-a0c3fbaed85a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmluYW5jZXxlbnwwfHwwfHx8MA%3D%3D') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    padding: 70px 0;
    text-align: center;
}

.btn {
    margin-top: 18px;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    background: #fff;
    color: #0b3c5d;
    font-weight: 600;
}

.services {
    padding: 50px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background: #fff;
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.about {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.about-img {
    width: 100%;
    border-radius: 12px;
}

.contact {
    background: #0b3c5d;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.footer {
    background: #07283e;
    color: #fff;
    text-align: center;
    padding: 16px;
    font-size: 14px;
}


@media (min-width: 576px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .hero {
        padding: 90px 0;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .about {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}


@media (min-width: 992px) {
    .container {
        width: 85%;
    }

    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero {
        padding: 110px 0;
    }
}
@media (min-width: 992px) {
    .container {
        width: 95%;
    }

    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .hero {
        padding: 110px 0;
    }
}